$base-unit: 5px;
$corner-radius: 2px;

/* colors */
$white: #FFFFFF;

/* Grayscale colors. */
$black: #151516;
$gray-90: #2A2A2B;
$gray-70: #555555;
$gray-60: #636363;
$gray-50: #7F7F7F;
$gray-15: #C0C0C0;
$gray-10: #D4D4D4;
$gray-06: #E9E9E9;
$gray-05: #E0E0E0;
$gray-04: #F4F4F4;
$gray-03: #AAA;
$gray-02: #E0E0E0;
$gray-hover-profile-icon: rgba(85, 85, 85, 0.4);
$gray-neutral-light: #FBFBFB;

$turquoise: #43D7B0;
$turquoise-dark: #0AB88A;
$teal: #264346;
$teal-light: #1F7E8A;
$red: #EF476F;
$green-light: #B5E9DB;
$green-dark: #229174;
$blue: #0596dc;
$blue-btn: #50ADE8;