@import "../../assets/sass/_global/variables";
@import "../../assets/sass/_global/utils";

.notificationButton {
  @include hide-mobile;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  img {
    display: block;
  }

  &.none {
    opacity: 0.5;
  }

  &.new::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: -1px;
    right: 3px;
    background: $red;
    border-radius: 6px;
    display: block;
  }

  &:hover, &.isNotificationsPopupOpen
   {
    background-color: $gray-hover-profile-icon;
    border-radius: 50%;
  }
}