@import "../../assets/sass/_global/variables";

.notificationButton {
  position: relative;
  width: 30px;
  height: 30px;
  padding-top: 3px;
  padding-left: 7px;

  img {
    display: block;
  }

  &.none {
    opacity: 0.5;
  }

  &.new {
    padding: 5px;
    width: 36px;
    height: 36px;
  }

  &.new::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: 6px;
    right: 5px;
    background: $red;
    border-radius: 6px;
    display: block;
  }

  &:hover, &.isNotificationsPopupOpen
   {
    background-color: $gray-hover-profile-icon;
    border-radius: 50%;
  }  
}