
// Flex box helper classes
.flex {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.center {
    justify-content: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.middle {
    -webkit-align-items: center;
    align-items: center;
  }
}
