@import "../../assets/sass/_global/fonts";
@import "../../assets/sass/_global/utils";

.mobileNav {
  height: 60px;
  background: $gray-90;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;

  @include mobile-only;

  .leftMenuContainer {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;

    .menuBtn {
      @include button-reset;
      cursor: pointer;

      img {
        display: block;
      }
    }
  }

  .rightMenu {
    @include Roboto-Bold;
    cursor: pointer;

    color: $white;
    font-size: 16px;
    line-height: 30px;
    padding-right: $base-unit * 4;
    position: absolute;
    right: 0;
  }
}

.icon {
  @include mobile-only;
  left: 18px;
  position: absolute;
  top: 16px;
}

.search {
  @include mobile-only;
  padding: 6px 12px 0;
  position: relative;

  input {
    background: none;
    border: 1px solid $gray-50;
    box-shadow: none;
    color: $white;
    font: 16px "Roboto", Helvetica, Arial, sans-serif !important;
    height: 32px;
    outline: none;
    padding-left: 30px !important;

    &::placeholder {
      color: $gray-50;
    }

    &:hover {
      border: 1px solid $gray-50;
    }

    &:focus {
      border: 1px solid $blue;
    }
  }

  input:active,
  input:focus,
  input:hover {
    box-shadow: none;
    outline: none;
  }
}