@import "../../assets/sass/_global/fonts";
@import "../../assets/sass/_global/utils";

.mobileSubNav {
  width: 100%;
  height: 60px;
  left: 0;
  top: 60px;
  z-index: 1;

  @include mobile-only;

  .mobileSubNavMask {
    z-index: -1;
    background: $gray-90;
    opacity: 0.8;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;

    .mobileSubNavOpen & {
      display: block;
    }
  }

  .mobileSubNavHeader {
    @include button-reset;
    background: $teal;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    span {
      @include Roboto-Regular;
      color: $white;
      font-size: 28px;
      line-height: 40px;
    }

    svg {
      margin-left: 5px;
    }

    img {
      margin-left: 8px;
    }
  }

  .mobileSubNavContent {
    display: flex;
    flex-direction: column;
    padding: $base-unit * 3 $base-unit * 4;
    background: $teal;
    border-top: 1px solid $teal-light;
    width: 100%;
    z-index: 999;
    position: absolute;

    .mobileSubNavChild {
      color: $white;
      font-size: 18px;
      line-height: 40px;
      height: 40px;
      margin: 5px 0;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.mobileSubNavChildOpen {
        @include Roboto-Bold;

        &::before {
          content: "";
          height: 30px;
          width: 3px;
          border-radius: 1.5px;
          background: $white;
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}