@import "../../assets/sass/_global/fonts";
@import "../../assets/sass/_global/themes";
@import "../../assets/sass/_global/utils";

.secondaryNav {
  display: none;
  justify-content: stretch;
  align-items: center;
  font-size: 13px;
  position: relative;
  z-index: 0;
  height: 60px;
  transition: transform 250ms linear;
  transform: translateY(-60px);

  @include hide-mobile;

  @include themify($themes) {
    background: themed('secondaryBackgroundColor');
    color: themed('secondaryTextColor');
  }

  &.secondaryNavOpen {
    display: flex;
    transform: translateY(0px);
  }

  a {
    @include themify($themes) {
      color: themed('secondaryTextColor');
    }
    margin: 0 15px;
  }

  .secondaryNavLinkContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 30px;

    .secondaryNavItem {
      cursor: pointer;

      &.secondaryNavItemOpen {
        @include Roboto-Bold;
      }
    }
  }
}
