@import "../../assets/sass/_global/themes";

.chosenArrow {
  position: absolute;
  bottom: -1px;
  left: -20px;
  z-index: 1;

  svg {
    display: block;
    @include themify($themes) {
      fill: themed('arrowBackground');
    }
  }
}
