@import "../../assets/sass/_global/fonts";
@import "../../assets/sass/_global/utils";

.user-info-popup {
  position: absolute;
  right: 0;
  top: 40px;
  color: $gray-90;
  border-radius: 10px;
  box-shadow: 0 5px 35px 5px rgba(21, 21, 22, 0.1), 0 10px 14px 0 rgba(21, 21, 22, 0.3);
  width: 288px;
  background: $white;
  border-radius: $corner-radius * 3;
  overflow: hidden;
  z-index: 1;
  display: none;

  @include backdrop;

  &.open {
    display: block;
  }

  a {
    color: $gray-90;
  }

  .header {
    padding: 0 20px;
    display: none;
    align-items: center;

    &:not(.header-mobile) {
      background: $turquoise-dark;
      color: $white;
      height: 90px;
      @include not-mobile {
        display: flex;
      }
    }

    .handle-container {
      display: flex;
      flex-direction: column;
    }

    .handle {
      font-size: 16px;
      line-height: 20px;
    }

    .email {
      font-size: 12px;
      line-height: 14px;
      margin-top: 4px;
    }

    .avatar {
      margin-right: 10px;
      border-radius: 50%;
    }
  }

  .switch-to-business-container {
    background: $gray-90;
    height: 50px;
    display: flex;
    align-items: center;


    .switch-icon {
      margin: 0 10px 0 22px;
    }

    a {
      color: $white;
      font-size: 14px;
      line-height: 30px;
    }
  }

  .menu {
    @include not-mobile {
      padding: 15px 0 25px 0;
    }

    .notification-mobile {
      @include mobile-only;
    }

    a {
      height: 50px;
      display: flex;
      align-items: center;
      margin: -5px 0;
      padding: 0 20px;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;

      &:hover {
        background: $gray-04;
      }
    }

    .separator {
      background: $gray-05;
      height: 1px;
      width: 100%;
      margin: 10px;
      height: 1px;
      width: calc(100% - 40px);
      align-self: center;
      display: block;

      &.hide-not-mobile {
        @include hide-not-mobile;
      }
    }
  }
}

@include mobile {
  .user-info-popup {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: $white;
    display: none;
    z-index: 10;
    top: 0;
    display: none;
    flex-direction: column;
    border-radius: 0;

    &.open {
      display: flex;
    }

    .header {
      padding: 7px 0 5px 17px;
      display: none;
      justify-content: space-between;
      align-items: center;

      &.header-mobile {
        display: flex;
      }

      .left-content {
        display: flex;
        align-items: center;
        margin-bottom: 2px;

        img {
          border: 3px solid $gray-15;
          border-radius: 33px;
          margin-right: 17px;
        }

        .handle-container {
          display: flex;
          flex-direction: column;
          padding-top: 15px;
        }

        .handle {
          @include Roboto-Bold;
          font-size: 20px;
        }

        .description {
          @include Roboto-Regular;
          font-size: 12px;
          color: $gray-joining-date;
        }
      }

      .icon-close {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .menu {
      display: flex;
      flex-direction: column;

      .separator {
        background: $gray-05;
        width: calc(100% - 46px);
        margin: $base-unit * 3 0;
        height: 1px;
        align-self: center;
        padding: 0 $base-unit * 4;
      }

      a,
      .notification-mobile {
        color: $gray-90;
        height: 40px;
        display: flex;
        align-items: center;
        margin: $base-unit 0;
        padding: 0 $base-unit * 4;

        &:hover {
          background: $gray-04;
        }
        &.notification-mobile {
          display: flex;
          justify-content: space-between;
          .left-notifi {
            .title {
              font-size: 18px;
              @include Roboto-Bold;
              background: url(#{$img-path}/icon-bell-red.svg) left center no-repeat;
              background-size: 16px;
              padding-left: 28px;
              text-align: left;
            }
            .red-number {
              font-size: 14px;
              color: $red;
            }
          }
          .notification-right-arrow {
            background: url(#{$img-path}/right-arrow.svg) left center no-repeat;
            background-size: 10px;
            width: 10px;
            height: 16px;
          }
        }
      }

    }
  }
}
