@import "../../assets/sass/_global/fonts";
@import "../../assets/sass/_global/common_ui";
@import "../../assets/sass/_global/utils";

.notifications-panel {
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 35px 5px rgba(21, 21, 22, 0.1), 0 10px 14px 0 rgba(21, 21, 22, 0.3);
  width: 480px;
  height: auto;
  position: absolute;
  right: 10px;
  top: 40px;
  display: none;
  z-index: 100;
  cursor: default;

  [role="button"]:not(.disabled) {
    cursor: pointer;
  }

  &.open {
    display: flex;
  }

  @include backdrop;

  .noti-header {
    background-color: $turquoise-dark;
    border-radius: 10px 10px 0 0;
    padding: 17px 20px;
    height: 50px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lefts {
      display: flex;

      .notification-icon {
        @include hide-mobile;
      }

      .notification-left-btn-mobile {
        @include mobile-only;
      }

      .noti-title {
        background-size: 16px;
        color: $white;
        font-size: 16px;
        @include Roboto-Bold;
        text-align: left;
        padding-left: 10px;
        @include hide-mobile;
      }
    }
    
    .noti-title-mobileonly {
      flex-basis: 50%;
      background-size: 20px;
      color: $white;
      font-size: 20px;
      @include Roboto-Regular;
      text-align: center;
      @include mobile-only;
    }
    .noti-empty-title-mobileonly {
      flex-basis: 50%;
      margin-right: 60px;
      background-size: 20px;
      color: $white;
      font-size: 20px;
      @include Roboto-Regular;
      text-align: left;
      @include mobile-only;
    }
    .rights {

      .white-link {
        color: $white;
        display: inline-block;
        vertical-align: middle;
        font-size: 12px;
        @include Roboto-Bold;
        text-align: right;
        &:hover {
          opacity: 0.75;
        }
        &.disabled {
          opacity: 0.50;
        }
      }

      .point {
        width: 3px;
        height: 3px;
        background-color: $white;
        border-radius: 100%;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .rights-mobile {
      display: none;
    }
  }
  .noti-body {
    max-height: 800px;
    overflow: scroll;
    scrollbar-width: 7px;
    scrollbar-color: $gray-90;

    &.noti-body-empty {
      padding-bottom: 50px;
     }
    
    &.center {
      text-align: center;
    }
    .big-icon-bell {
      margin: 50px auto;
    }
    .icon-bell {
      background: url(#{$img-path}/bell-big.svg)center center no-repeat;
      background-size: 73px 80px;
      width: 73px;
      height: 80px;
      margin: 50px 0 10px;
    }
    .empty-title {
      color: $gray-90;
      font-size: 24px;
      font-family: Barlow;
      line-height: 26px;
      font-weight: 600;
      text-transform: uppercase;
    }
    .txt {
      margin: 0;
      color: $gray-90;
      font-size: 14px;
      @include Roboto-Regular;
      line-height: 22px;
      &.center-txt {
        text-align: center;
        margin: 15px auto 25px auto;
      }
      a {
        color: $blue-link;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .light-bar {
      background-color: $green-light;
      height: 28px;
      color: $green-dark;
      font-size: 14px;
      @include Roboto-Bold;
      line-height: 28px;
      padding-left: 20px;
      margin-top: -2px;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      padding-right: 20px;
      padding-top: 2px;
    }
    .challenge-title {
      background-color: $gray-04;
      color: $gray-90;
      font-size: 14px;
      @include Roboto-Bold;
      font-weight: 500;
      line-height: 22px;
      padding-left: 20px;
      margin-top: -2px;
      padding: 5px 20px;
    }    
    .greybar-section {
      &:last-child {
        .items {
          .item-content {
            border-bottom: 0;
          }
        }
      }
    }
    .lightblue-section,
    .greybar-section {
      margin-top: -2px;
      background-color: $white;
      padding-top: 5px;
    }

    .right-remove {
      position: absolute;
      right: 1px;
      top: 50%;
      margin-top: -10px;
      z-index: 666;
      display: none;
      .btn-close {
        display: block;
        background: url(#{$img-path}/e-remove.svg) center center no-repeat;
        background-size: 10px;
        width: 20px;
        height: 20px;
        &:hover {
          background: url(#{$img-path}/delete-small.svg) center center no-repeat;
        }
      }
      .black-txt {
        position: absolute;
        top: -28px;
        left: -76px;
        background-color: $gray-90;
        border-radius: 2px;
        padding: 6px 0;
        color: $white;
        font-size: 11px;
        @include Roboto-Regular;
        line-height: 13px;
        text-align: center;
        min-width: 110px;
        display: none;
        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: -5px;
          left: calc(50% + 30px);
          margin-left: -3px;
          width: 0;
          height: 0;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          border-top: 5px solid $gray-90;
        }
      }
      &:hover {
        .black-txt {
          display: block;
        }
      }
    }
    .noti-item {
      background-color: $white;
      padding: 5px 20px;
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        padding-left: 30px;
        .txt {
          margin: 0;
          color: $gray-90;
          font-size: 14px;
          @include Roboto-Regular;
          line-height: 22px;
        }
        .time-txt { 
          display: inline-block;
          vertical-align: middle;
          color: $gray-03;
          font-size: 12px;
          @include Roboto-Regular;
          line-height: 20px;
        }
      }
      .right {
        .point {
          width: 10px;
          height: 10px;
          background-color: $white;
          border-radius: 100%;
          display: inline-block;
          vertical-align: middle;
          cursor: pointer;
        }
        .point-red {
          background-color: $red;
        }
        .point-grey {
          background-color: $gray-10;
        }
      }
    }

    .items {
      padding: 0 30px;
      &:hover {
        background-color: $gray-neutral-light;
        .right-remove {
          display: block;
        }
      }
      .item-content {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid $gray-02;
        position: relative;
        cursor: pointer;
        .txt {
          padding-right: 30px;
        }
        .dismissItem {
          @include hide-mobile;
        }
      }
      .bottom-info {
        margin-top: 5px;
        line-height: 20px;
        font-size: 12px;
        .blue-squre {
          padding: 0px 10px;
          display: inline-block;
          margin-right: 6px;
          background-color: $blue-btn;
          border-radius: 5px;
          color: $white;
          @include Roboto-Regular;
          line-height: 20px;
        }
        .time-txt {
          display: inline-block;
          vertical-align: middle;
          color: $gray-03;
          font-size: 12px;
          @include Roboto-Regular;
          line-height: 20px;
        }
      }
    }
    .grey-bar {
      background-color: $gray-04;
      height: 50px;
      padding-left: 20px;
      margin-top: -4px;
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .copyicon-title {
        padding-left: 26px;
        background: url(#{$img-path}/group.svg) left center no-repeat;
        background-size: 15px;
        color: $gray-90;
        font-size: 14px;
        @include Roboto-Bold;
        width: calc(100% - 70px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .right-remove {
        right: 20px;
      }
      &:hover {
        .right-remove {
          display: block;
        }
      }
    }
  }
  .view-all-notifications {
    display: grid;
    background-color: $gray-04;
    page-break-after: auto;
    position: relative;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 2;
    text-align: center;
    border-radius: 0 0 10px 10px;
    height: 42px;
    a {
      margin: auto;
      color: $blue-link;
      font-size: 14px;
      @include Roboto-Regular;
      line-height: 22px;
      text-decoration: underline;
      padding: 0 ;
    }
  }
  .noti-footer {
    text-align: center;
    margin: 0 auto 50px auto;
  }
  .end-message {
    background-color: $gray-neutral-light;
    border-radius: 0 0 10px 10px;
    height: 40px;
    display: flex;
    align-items: center;
    color: $gray-50;
    font-size: 12px;
    @include Roboto-Regular;
    line-height: 40px;
    justify-content: center;
    position: relative;
    z-index: 10;
    margin-top: -3px;
  }
}

.notifications-panel {
  max-height: 70vh;
  flex-direction: column;

  .noti-body {
    flex: 1;
    max-height: calc(100% - 82px);
    &.noti-body-empty {
      padding-bottom: 50px;
      max-height: calc(100% - 40px);
     }
    .btn-empty-noti {
      text-transform: uppercase;
      background-color: $white;
      border: 1px solid $turquoise-super-dark;
      border-radius: 15px;
      width: 187px;
      height: 30px;
      color: $green-dark;
      @include Roboto-Bold;
      font-size: 12px;
      letter-spacing: 0.8px;
      line-height: 30px;
      text-align: left;
      padding: 9px;
    }
  }

  
    flex: 1;
    
}

@include mobile {
  .notifications-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: none;
    z-index: 100;

    width: 100%;
    height: 100%;
    position: fixed;
    box-shadow: none;
    border-radius: 0;
    display: none;
    top: 0;
    right: 0;
    overflow-y: auto;

    &.open {
      display: flex;
    }

    .noti-header {
      height: 60px;
      border-radius: 0;
      align-items: inherit;
      .lefts {
        align-content: stretch;
        flex: 1;
      }
      .rights {
        display: none;
      }
      .rights-mobile {
        display: flex;
        flex: 1;
        justify-content: flex-end;
      }
      .btn-tick {
        margin: auto 0px;
        // margin-right: 20px;
        &.disabled {
          opacity: 0.50;
        }
      }
      .btn-setting {
        margin: auto 0px;
      }
      .left-noti {
        margin-left: 0;
        padding-left: 0;
        background: none;
      }
    }
    .noti-body {
      max-height: calc(100%-102px);
      &.center {
        .txt {
          padding: 19px 20px 12px 21px;
        }
      }
      &.noti-body-empty {
        padding-bottom: 50px;
        max-height: calc(100%-60px);
       }
      .items {
        padding: 0 10px 0 20px;
        .item-content {
          .txt {
            padding-right: 0;
          }
        }
      }

      .right-remove {
        right: 5px;
        .black-txt {
          left: -90px;
          &:after {
            left: 90%;
          }
        }
        &:hover {
          .black-txt {
            display: none;
          }
        }
      }
      .grey-bar {
        .copyicon-title {
          padding-left: 25px;
          width: calc(100% - 50px);
        }
        .right-remove {
          right: 15px;
        }
      }
    }
    .light-bar {
      display: flex;
      justify-content: space-between;
      .green-link {
        color: $green-dark;
        font-size: 14px;
        @include Roboto-Bold;
        line-height: 30px;
        text-align: left;
      }
    }
  }
}